<header class="global-header">
<div class="container">
<h1 class="site-title"><a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a></h1>
{% if DISPLAY_PAGES_ON_MENU %}
<ul>
{% for page in PAGES %}
{% if page.slug in PAGES_ON_MENU %}
<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
{% if not page %}
<ul>
{% for link in ['archives', 'categories', 'tags'] %}
<li><a href="{{ SITEURL }}/{{ link }}.html">[{{ link | capitalize}}]</a></li>
{% endfor %}
</ul>
{% endif %}
</div>
</header>
